{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if solidinvoice_container_labels_traefik_enabled %}
traefik.enable=true

{% if solidinvoice_container_labels_traefik_docker_network %}
traefik.docker.network={{ solidinvoice_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if solidinvoice_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ solidinvoice_identifier }}-slashless-redirect.redirectregex.regex=^({{ solidinvoice_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ solidinvoice_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [solidinvoice_identifier + '-slashless-redirect'] %}
{% endif %}

{% if solidinvoice_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ solidinvoice_identifier }}-strip-prefix.stripprefix.prefixes={{ solidinvoice_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [solidinvoice_identifier + '-strip-prefix'] %}
{% endif %}

{% if solidinvoice_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in solidinvoice_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ solidinvoice_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [solidinvoice_identifier + '-add-request-headers'] %}
{% endif %}

{% if solidinvoice_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in solidinvoice_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ solidinvoice_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [solidinvoice_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ solidinvoice_identifier }}.rule={{ solidinvoice_container_labels_traefik_rule }}
{% if solidinvoice_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ solidinvoice_identifier }}.priority={{ solidinvoice_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ solidinvoice_identifier }}.service={{ solidinvoice_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ solidinvoice_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ solidinvoice_identifier }}.entrypoints={{ solidinvoice_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ solidinvoice_identifier }}.tls={{ solidinvoice_container_labels_traefik_tls | to_json }}
{% if solidinvoice_container_labels_traefik_tls %}
traefik.http.routers.{{ solidinvoice_identifier }}.tls.certResolver={{ solidinvoice_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ solidinvoice_identifier }}.loadbalancer.server.port={{ solidinvoice_container_http_port }}
{% endif %}

{{ solidinvoice_container_labels_additional_labels }}
